.App {
  text-align: center;
  display: flex;
  padding: 30px;
}

.board {
  background-color: white;
  /* background-color: #282c34; */
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 3%;
  border: 5px solid black;
}

.board img {
  width: 70px;
  height: 70px;
}

.score_board {
  border: 2px solid white;
  color: white;
  margin: 50px;
  padding: 20px;
  border-radius: 4%;
  height: 12vh;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
